********************************************************************
*                                                                  *
* DRILL TAPE SUMMARY REPORT                                        *
*                                                                  *
* D:\UTENTI\00.LAVORI IN CORSO\METALTRONICA\22-305-0\22-305-0.MAX  *
* Wed May 03 10:56:11 2023                                         *
*                                                                  *
********************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       161      200      100                                                                                 
T2       315      10       200      100                                                                                 
T3       433      13       200      100                                                                                 
T4       472      70       200      100                                                                                 
T5       512      6        200      100                                                                                 
T6       630      8        200      100                                                                                 
T7       1378     6        200      100                                                                                 
